<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Blogging App</title>
</head>

<body>
    <div class="min-h-screen bg-gray-900 text-gray-200 flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center w-full mb-6">
            <h1 class="text-3xl md:text-5xl p-8 font-bold text-gray-100">BLOGGING APP</h1>
        </div>
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-md mb-8 flex flex-col justify-center items-center">
            <a href="/signup"
                class="w-full bg-teal-500 text-white p-3 rounded-md hover:bg-teal-600 cursor-pointer text-center mb-3 transition duration-300 ease-in-out transform hover:scale-105">SIGN UP</a>
            <a href="/login"
                class="w-full bg-teal-500 text-white p-3 rounded-md hover:bg-teal-600 cursor-pointer text-center transition duration-300 ease-in-out transform hover:scale-105">LOG IN</a>
        </div>
    </div>
</body>

</html>